<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <style>
      * {
        padding: 0;
        margin: 0;
      }

      .title {
        text-align: center;
        background-color: rgb(132, 0, 255);
      }

      .form-input {
        width: 700px;
        padding: 10px;
        border: 1px solid #b6b6b6;
        border-radius: 5px;
        float: left;
        margin-right: 70px;
      }

      .list-car {
        float: left;
        width: 700px;
        margin: 16px;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Quản lý bãi đỗ xe</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="title">
        <h1>XE RA</h1>
      </div>
    </div>
    <div class="container">
      <div class="form-input">
        <img
          class="card-img-top"
          id="img"
          src="<%=data[3] %>"
          alt="Card image cap"
          style="width: 40%; height: 50%"
        />
        <form action="http://localhost:3000/parking" method="POST" id="form">
          <h4 class="card-title">Thông Tin Xe</h4>
          <div class="form-group">
            <label for="formGroupExampleInput">Mã thẻ từ</label>
            <% if(data) {%>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="ID thẻ từ"
              name="id_card"
              value="<%=data[0] %>"
            />
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Biển số xe</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput2"
              placeholder="Biển số xe"
              name="vehicle_number"
              value="<%=data[1] %>"
            />
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Thời gian vào</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput2"
              name="time"
              value="<%=data[2] %>"
              readonly
            />
          </div>

          <!-- <button type="submit" class="btn btn-danger">Xóa</button> -->
          <button type="submit" class="btn btn-primary">Thêm</button>
          <br />
        </form>
        <a href="http://localhost:3000/parking">List parking</a>
        <br />
        <a href="http://localhost:3000/in">Vao</a>
        <% } %>
      </div>
    </div>
  </body>
</html>
