<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="../client.js" /> -->

    <title>Document</title>
  </head>
  <body>
    <form action="http://localhost:3000/data" method="POST" id="form">
      <h4 class="card-title">Thông Tin Xe</h4>
      <div class="form-group">
        <label for="formGroupExampleInput">Mã thẻ từ</label>

        <input
          type="text"
          class="form-control"
          id="id_card"
          placeholder="ID thẻ từ"
          name="id_card"
          value="102180237"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Biển số xe</label>
        <input
          type="text"
          class="form-control"
          id="plate_number"
          placeholder="Biển số xe"
          name="plate_number"
          value="75c1-28156"
        />
      </div>
      <button type="submit" class="btn btn-danger">Xóa</button>
    </form>
    <div id="message"></div>
  </body>
  <link rel="stylesheet" href="" />
</html>
